/* Global styles */
* { margin: 0; padding: 0; }
body { background: #fefefe; color: #0a0a0a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px; line-height: normal; }

a { color: #a72974; text-decoration: none; transition: color 0.4s; }
a:focus, a:hover { color: #d34b9c; text-decoration: underline; }
h1, h2 { font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal;
  margin: 0 auto 1.25rem; }
h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; margin-top: 1.25rem; }
table { border: 0; border-collapse: collapse; border-spacing: 0; max-width: 100%; width: auto; }
thead { background: #0a0a0a; color: #fefefe; font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125rem; font-weight: normal; text-align: left; text-transform: uppercase; }
/* tbody tr:nth-child(even) { background: #f5f5f5; } */
td, th { border: 0 solid #f6d9ea; border-left-width: 1px; border-right-width: 1px; padding: 7px; }
thead th { border-color: #0a0a0a; }
thead th:not(:first-child) { min-width: 9.375rem; width: 15%; }
thead th:not(:last-child) { border-right-color: #fefefe; }
tbody tr:focus, tbody tr:hover { background: #fdf9fc; }

.hide { opacity: 0; visibility: collapse; }

/* Header/masthead styles */
/* Copy/content area styles */
.wrapper { margin-left: auto; margin-right: auto; max-width: 75rem; }

.music-library__album { transition: all 0.3s; }
.music-library__album td:not(:last-child) { border-right-color: #fefefe; }
.music-library__artist td { border-bottom-style: dotted; border-bottom-width: 1px; border-top-style: dotted; border-top-width: 1px; }
.music-library__artist a { display: block; }

/* Footer styles */
footer {
  margin: 2rem auto 0;
  min-height: 0.0625rem;
}
/* Custom styles */
