/* Global styles */
* { margin: 0; padding: 0; }
body { background: #fefefe; color: #0a0a0a; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px; line-height: normal; }

a { color: #a72974; text-decoration: none; }
a:focus, a:hover { color: #d34b9c; text-decoration: underline; }
h1, h2 { font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal;
  margin: 0 auto 1.25rem; }
h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; margin-top: 1.25rem; }
table { border: 0; border-collapse: collapse; border-spacing: 0; max-width: 100%; width: auto; }
thead { background: #0a0a0a; color: #fefefe; font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125rem; font-weight: normal; text-align: left; text-transform: uppercase; }
.striped { background: #f5f5f5; }
td, th { border: 0 solid #0a0a0a; border-left-width: 0.0625rem; border-right-width: 0.0625rem; padding: 0.4375rem; }
td > a, th > a { margin: -0.4375rem; padding: inherit; }
thead th { border-color: #0a0a0a; border-bottom-width: 0.0625rem; }
thead th:not(:first-child) { min-width: 9.375rem; width: 15%; }
thead th:not(:last-child) { border-right-color: #fefefe; }
/* td > a:focus, td > a:hover, th > a:focus, th > a:hover { background: #fdf9fc; } */

.hide-display { border: 0; height: 0; opacity: 0; overflow: hidden; position: absolute; white-space: nowrap; width: 0; }

/* Header/masthead styles */
/* Copy/content area styles */
.wrapper { margin: 2rem auto; max-width: 75rem; }
.row { align-items: flex-start; display: flex; flex-flow: row wrap; justify-content: flex-start; transition: all 0.45s; }
.column { align-self: stretch; flex: 1 1 auto; max-width: calc((100% - 46px) / 3); padding: 0.4375rem; width: calc((100% - 46px) / 3); }
.row::before, .row::after { content: ''; display: table; margin: 0 auto; width: 100%; }

.music-library { font-size: 0; text-align: center; }
.music-library__artist { display: inline-block; margin: 0 0.625rem 1.875rem; text-align: left; vertical-align: top; width: calc((100% - 2.5rem) / 2); }
.music-library__artist a { background: #f9fcfd; border: 0.0625rem solid #2974a7; color: #2974a7; display: block;
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1.25rem; font-weight: bold; padding: 0.5rem 0.625rem; }
.music-library__artist a:focus, .music-library__artist a:hover { background: #e9f3fa; border-color: #1a4868; color: #1a4868; }
.music-library__album > .column { border: 0.0625rem solid #2974a7; font-size: 0.875rem; }
.music-library__album/* :not(:first-of-type) */ > .column { border-top-width: 0; }
.music-library__album > .column:not(:first-child) { border-left-width: 0; }

/* Footer styles */
footer { margin: 2rem auto 0; min-height: 0.0625rem; }
/* Custom styles */
